<!doctype html>
[#escape x as (x)!?html]
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./ziyuan/images/favicon.ico">
    <link rel="stylesheet" href="./ziyuan/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./ziyuan/CSS/erjiyemian.css" />
    <!-- [if lt IE 9]> -->
    <script src="https://cdn.jsdelivr.cn/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.cn/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <!-- <![endif] -->
    <title>畜牧兽医河南省虚拟仿真实验中心</title>
</head>
<body>
[#include 'header.html'/]


<div class="container">
    <div class="row">
        <div class="left-lab col-lg-3 col-md-12">
            <ul>
        </ul>
    </div>
    <div class="right-lab col-lg-9 col-md-12">
        <h2></h2>
        <ul>
            <li class="linear"></li>
        </ul>
        <div class="neil">
            &nbsp;&nbsp;&nbsp;&nbsp;

            <br><br>
            <p>

            </p></div>

    </div>
</div>
</div>

[#include 'footer.html'/]
</body>
</html>
[/#escape]