* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none !important;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

/* 导航栏部分 */
.topnav {
    position: fixed;
    z-index: 100;
    display: flex;
    width: 100%;
    min-width: 1200px;
    height: 90px;
    padding: 15px 0 0 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.topnav .logo {
    width: 200px;
    height: 60px;
}

.topnav .logo img {
    width: 200px;
    height: 60px;
}

.topnav .nav {
    width: 1290px;
    height: 60px;
}

.topnav .nav .fm {
    display: flex;
}

.topnav .nav .fm .li {
    width: 140px;
    height: 60px;
    font-family: "Microsoft Yahei", sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
}

/* .topnav .nav ul .li .iconfont:hover{
    transform: rotate(180deg);
} */
.topnav .nav .fm .li a,
.topnav .nav .fm .li .iconfont {
    color: #fff;
}

.topnav .nav .fm .li:hover a {
    color: yellow;
}

.topnav .nav .fm .li:hover .iconfont {
    color: yellow !important;
}

.topnav .nav .fm .li .menu-bar {
    /* display: none; */
    visibility: hidden;
    /*将此元素设为不可见*/
    opacity: 0;
    /*将元素设置为透明*/
    background-color: #fff;
    /* animation: move 0.5s 0s; */
    transition: all 0.3s ease-in-out !important;
    border-radius: 0 0 10px 10px;
    padding-bottom: 10px;
}

.topnav .nav .fm .li .menu-bar a {
    color: #337AB7;
}

.topnav .nav .fm .li .menu-bar li:nth-child(1) {
    height: 5px;
    background-color: rgb(238, 150, 64);
}

.topnav .nav .fm .li .menu-bar li:nth-child(n+1):hover {
    background: rgba(0, 0, 0, 0.2);
}

.topnav .nav .fm .li:hover .menu-bar {
    /* display: block; */
    opacity: 1;
    visibility: visible;
    /*将元素设为可见*/
}

/* page1 */
.page1 {
    position: relative;
    width: 100%;
    min-width: 1400px;
    padding: 0 0;
}

.page1 img {
    width: 100%;
    height: 100%;
    display: none;
}

.page1 .yuandian {
    bottom: 6%;
    left: 45%;
    position: absolute;
}

.page1 .yuandian li {
    float: left;
    width: 2.5rem;
    height: 0.1rem;
    margin: 1rem;
    cursor: pointer;
    background: rgba(100, 100, 100, 0.6);
}

.page1 span {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    font-family: STxingkai;
    font-size: 2rem;
    color: #337AB7;
}

.page-btn {
    display: inline-block;
}

.current-page {
    font-weight: bold;
    background-color: #337ab7;
    color: #fff;
}

.content{
    width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* page2 */
.content .page2{
    margin-top: 30px;
}

.content .left{
    float: left;
    width: 800px;
    height: 30px;
    background-color: pink;
}
.content .left .indexbox {
    width: 100%;
    height: 340px;
    border: #e7e7e7 solid 1px;
}

.content .left .indexbox .biaotis {
    width: 100%;
    height: 40px;
    background-color: rgb(249, 250, 250);
}

.content .left .indexbox .biaotis .biaotiul .biaotili {
    float: left;
    width: 120px;
    height: 40px;
    font-family: "Microsoft Yahei", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-bottom: #e7e7e782 solid 1px;
    box-sizing: border-box;
}

.content .left .indexbox .biaotis .biaotiul li:last-child{
    float: right;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-family: "Microsoft Yahei", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

/* 左下边盒子设置 */
.content .left .leftbox {
    margin-top: 30px;
}

.content .left .indexbox .biaotis .biaotiul .biaotili:nth-child(1) {
    background-color: #fff;
    border-top: rgb(218, 0, 0) solid 1px;
    border-bottom: none;
}

.content .left .indexbox .biaotis .biaotiul .biaotili:nth-child(3) {
    width: 558px;
}

.content .left .indexbox .biaotis .biaotiul .biaotili:nth-child(-n+2):hover {
    border-bottom: none;
    /* border-top: rgb(218,0,0) solid 1px; */
}

/* 中心要闻和公告通知内容:box-content */
.content .left .indexbox .box-content {
    height: 280px;
}

.content .left .indexbox .box-content ul li {
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    padding: 0 10px;
    border-bottom: #e7e7e782 solid 1px;
    box-sizing: border-box;
}

.content .left.indexbox .box-content ul li:hover {
    background-color: rgba(249, 250, 250, 0.711);
}

.content .left .indexbox .box-content ul li .shijian {
    float: right;
    font-size: 15px;
    color: #919191;
}

.content .left .indexbox .box-content ul li .xiaobt a {
    color: #919191;
}

.content .left .indexbox .box-content ul li .xiaobt:hover a {
    color: #337AB7;
}

.content .left .indexbox .box-content ul:nth-child(2) {
    display: none;
}

.content .left .indexbox .box-content .zhongxinul .iconfont {
    font-size: 12px;
}

.content .left .indexbox .box-content li {
    padding-top: 5px;
}


.content .right{
    float: right;
    width: 420px;
    height: 710px;
}

.content .right .up{
    width: 100%;
    height: 340px;
}

.content .right .up img{
    width: 100%;
    height: 100%;
}

.content .right .down{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 340px;
}
.content .right .down img {
    display: none;
    width: 100%;
    height: 100%;
}

.content .right .down ul {
    position: absolute;
    bottom: 20px;
    left: 185px;
}

.content .right .down ul li {
    float: left;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: rgba(100, 100, 100, 0.6);
}

.content .right .down ul li:nth-child(1) {
    background-color: white;
}

/* page3部分 */
.page3 {
    display: flex;
    width: 1300px;
    padding-top: 40px;
    font-family: "Microsoft Yahei", sans-serif;
}

.page3 .title {
    float: left;
    width: 350px;
    height: 700px;
    margin-right: 50px;
}

.page3 .title .tsul {
    margin-top: 43px;
}

.page3 .title .tsul li {
    position: relative;
    z-index: 100px;
    width: 420px;
    height: 100px;
    font-size: 30px;
    line-height: 90px;
}

.page3 .title .tsul li:hover {
    animation: popup 1s forwards;
    width: 420px;
}

@keyframes popup {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.page3 .title .datitle .eng {
    font-size: 16px;
}

.page3 .title .datitle .chi {
    font-size: 35px;
}

.page3 .title .datitle .fengexian {

    width: 70px;
    height: 5px;
    margin-top: 10px;
    background-color: #337AB7;
}

.page3 .title .datitle .jianjie {
    width: 350px;
    height: 180px;
    color: #919191;
    font-size: 16px;
    padding-top: 30px;
    padding-right: 50px;
    overflow: hidden;
}

.page3 .gebiaoti {
    float: right;
    width: 900px;
    height: 740px;
}

.page3 .gebiaoti img {
    width: 100%;
    height: 100%;
}

/* page4部分 */
.page4 {
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.page4 .media {
    position: relative;
    width: 100%;
}

.page4 .media .dabiaoti {
    display: inline-block;
    width: 350px;
    height: 100px;
    color: #337AB7;
    padding-top: 20px;
    border-top: rgb(238, 150, 64) solid 6px;
}

.page4 .media .meiti {
    display: inline-block;
    position: absolute;
    right: 0;
    padding-top: 30px;
}

.page4 .media .meiti ul {
    display: flex;
}

.page4 .media .meiti ul li {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #337AB7;
}

.page4 .media .meiti ul li a {
    color: #ffff;
}

.page4 .media .span1 {
    font-size: 35px;
}

.page4 .media .meiti ul li .iconfont {
    font-size: 40px;
}

.page4 .xiangxi {
    margin-top: 5px;
    width: 100%;
    height: 330px;
}

.page4 .xiangxi ul{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
}

.page4 .xiangxi ul li img {
    width: 100%;
    height: 100%;
    transition: transform .5s ease-in-out;
}

.page4 .xiangxi ul li {
    position: relative;
    width: 330px;
    height: 330px;
    overflow: hidden;
}

.page4 .xiangxi ul li::before {
    content: "" !important;
    z-index: 100;
    background: url(../images/bg.png) center repeat-x !important;
    background-size: auto 100%;
}

.page4 .xiangxi ul li:hover img {
    transform: scale(1.2);
}

.page4 .xiangxi ul li .tun {
    font-family: "Microsoft Yahei", sans-serif;
    color: #ffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding-left: 40px;
    padding-top: 150px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}

.page4 .xiangxi ul li .tun .tunbt {
    font-size: 16px;
}

.page4 .xiangxi ul li .tun .tuntb {
    display: block;
    width: 60px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 15px;
    border-bottom: rgb(238, 150, 64) solid 6px;
}

/* rooter部分 */
.rooter {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    height: 150px;
    font-size: 14px;
    text-align: center;
    background-color: #337AB7;
}

.rooter span {
    display: inline-block;
}

.rooter span:nth-child(1) {
    width: 4rem;
    height: 4rem;
}

.rooter span:nth-child(1) img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.rooter span:nth-child(5) {
    width: 4rem;
    height: 4rem;
}

.rooter span:nth-child(5) img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.rooter span:nth-child(3) {
    margin-top: 37px;
    width: 2px;
    height: 75px;
    background: rgba(52, 47, 47, 0.6);
}

.rooter span:nth-child(4) {
    font-family: STxingkai;
}

.rooter .erweima {
    position: absolute;
    right: 60px;
    bottom: 100px;
    width: 200px;
    height: 240px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
}

.rooter .erweima span {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 10px;
}