@media screen and (min-width:1200px) {
    .container {
        width: 1170px;
    }

    html {
        font-size: 20px;
    }
}

@media screen and (max-width:1199px) {
    .container {
        width: 970px;
    }

    html {
        font-size: 15px;
    }

    .container .left-lab ul li {
        float: left;
        width: 33%;
        margin-right: 20px;
    }
}

@media screen and (max-width:991px) {
    .container {
        width: 750px;
    }

    html {
        font-size: 10px;
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.top {
    width: 100%;
    height: 10.5rem;
    background-color: rgba(10,83,155);
}

/* 顶部图片部分 */
.banner {
    width: 100%;
    height: 8rem;
}

.banner div{
    width: 65rem;
    margin: 0 auto;
    padding: 1rem 0;
}

.banner span{
    float: right;
    padding-top: 1.4rem;
    font-family: STxingkai;
    font-size: 2rem;
    color: #fff;
}

.banner img {
    width: 19rem;
    height: 5rem;
}

/* nav部分 */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    background: #337AB7;
}

.nav div {
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    line-height: 2.5rem;
    text-align: center;
    font-family: "Microsoft Yahei", sans-serif;
    font-weight: bold;
}

.nav div .menu-bar {
    /* display: none; */
    visibility: hidden;
    /*将此元素设为不可见*/
    opacity: 0;
    /*将元素设置为透明*/
    background-color: #fff;
    /* animation: move 0.5s 0s; */
    transition: all 0.3s ease-in-out !important;
}

.nav div:hover .menu-bar {
    border-left: #337AB7 1px solid;
    border-right: #337AB7 1px solid;
    border-bottom: #337AB7 1px solid;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    position: relative;
    /* display: block; */
    opacity: 1;
    visibility: visible;
    /*将元素设为可见*/
    z-index: 10000 !important;
    cursor: pointer;
}

.nav div .menu-bar li a {
    color: #337AB7;
}

.nav div .menu-bar li:hover {
    background: rgba(0, 0, 0, 0.064);
}

.nav div .menu-bar li:last-child {
    border-radius: 0 0 10px 10px;
}

.nav div a {
    color: white;
}

.nav div a:hover {
    color: yellow;
}

.container .row{
    min-height: 35rem;
}

.container .left-lab {
    padding-top: 5rem;

}

.container .right-lab {
    padding-top: 1rem;

}

.container .left-lab ul li {
    display: block;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    background-color: rgb(10,83,155);
}

.container .left-lab ul li a{
    color: #fff;
}

.container .right-lab .linear {
    width: 100%;
    height: 6px;
    border-radius: 50%;
    margin-bottom: 1rem;
    background: -webkit-linear-gradient(left, #0072d836, #0072d8, #0072d836);
}

.container .right-lab h2 {
    text-align: center;
}

.container .right-lab .li li {
    width: 100%;
    height: 2.5rem;
    line-height: 2.3rem;
    /* border: 1px solid #0000FF; */
    border-bottom: .2rem solid #337AB7;
    border-top: .1rem solid #337AB7;
    border-left: .1rem solid #337AB7;
    border-right: .1rem solid #337AB7;
    /* border-radius: 2.5rem; */
    padding: 0 2rem;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 1px 1px #aecde7;
    transition: transform 0.2s ease-in-out;
    
}

.container .right-lab .li li:hover{
    transform: scale(1.01);
}

.container .right-lab .li li a:nth-child(1) {
    float: left;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .right-lab .li li a:nth-child(2) {
    float: right;
}


.container .left-lab ul li:hover {
    cursor: pointer;
}

.container .right-lab .li li:hover {
    cursor: pointer;
}

.neil {
    padding: 0 1.25rem;
}

.neil p {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    text-indent: 2em;
}

/* rooter部分 */
.rooter {
    position: absolute;
    width: 100%;
    height: 150px;
    font-size: 14px;
    text-align: center;
    background-color: #337AB7;
}

.rooter span {
    display: inline-block;
}

.rooter span:nth-child(1) {
    width: 4rem;
    height: 4rem;
}

.rooter span:nth-child(1) img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.rooter span:nth-child(5) {
    width: 4rem;
    height: 4rem;
}

.rooter span:nth-child(5) img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.rooter span:nth-child(3) {
    margin-top: 37px;
    width: 2px;
    height: 75px;
    background: rgba(52, 47, 47, 0.6);
}

.rooter span:nth-child(4) {
    font-family: STxingkai;
}